:root {
	/* Font Weight/Size/Family */
	--ff: sans-serif;
	--font-logo: bold 1.0rem/1.4em var(--ff);

	/* Banner and Sidebar Sizes */
	--banner-height: 120px;
	--banner-margin: 40px;
}

html {
	font-size: 1.25vh;
}

#banner {
	justify-content: center;

	& #banner-left {
		display: none;
	}

	& #banner-right {
		justify-content: center;

		& .student-resource-icon {
			min-width: 170px;
		}
	}
}

.flex-grid {
	gap: 30px;

	& blockquote {
		max-width: 100%;
		width: 100%;
	}
}