<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="user-scalable=no"/>

	<!-- Page Title -->
	<title>$title$</title>

	<!-- Platform Specific Stylesheets -->
	<link rel="stylesheet" href="$localdir$/css/stylesheet.css">
	<link rel="stylesheet" media="screen and (orientation: portrait)" href="$localdir$/css/stylesheet-mobile-override.css">
	
	<!-- Page Icon -->
	<link rel="icon" type="image/x-icon" href="$localdir$/assets/favicon.ico">
</head>
<body>
	<!-- Page Banner Is The Same Across All Pages -->
	<div id="banner">
		<!-- Logo and Home Page Link -->
		<a id="banner-left" href="$localdir$/index.html">
			<img class="uml-logo" src="$localdir$/assets/uml_logo.png" alt="UMass Lowell Logo">

			<h1>Miner School<br>Advising</h1>	
		</a>

		<!-- Student Resource Buttons -->
		<div id="banner-right">
			<!-- Miner School Icon -->
			<a target="_blank" class="student-resource-icon" href="https://www.uml.edu/Sciences/computer-science/">
				<img src="$localdir$/assets/sis_my_logo.png" alt="UML Logo">
				<span class="small">Miner School</span>
			</a>

			<!-- Canvas Icon -->
			<a target="_blank" class="student-resource-icon" href="https://canvas.uml.edu/">
				<img src="$localdir$/assets/canvas_logo.png" alt="Canvas Logo">
				<span class="small">Canvas</span>
			</a>

			<!-- Blackboard Icon -->
			<a target="_blank" class="student-resource-icon" href="https://lowell.umassonline.net/webapps/login/">
				<img src="$localdir$/assets/blackboard_logo.png" alt="Blackboard Logo">
				<span class="small">Blackboard</span>
			</a>

			<!-- My UML Icon -->
			<a target="_blank" class="student-resource-icon" href="http://www.uml.edu/now">
				<img src="$localdir$/assets/sis_my_logo.png" alt="My UML Logo">
				<span class="small">My UML</span>
			</a>
			
			<!-- SiS Icon -->
			<a target="_blank" class="student-resource-icon" href="https://campus.sa.umasscs.net/psp/csm/EMPLOYEE/SA/c/SA_LEARNER_SERVICES.SSS_STUDENT_CENTER.GBL?PORTALPARAM_PTCNAV=HC_SSS_STUDENT_CENTER&EOPP.SCNode=SA&EOPP.SCPortal=EMPLOYEE&EOPP.SCName=CO_EMPLOYEE_SELF_SERVICE&EOPP.SCLabel=Self_Service&EOPP.SCPTfname=CO_EMPLOYEE_SELF_SERVICE&FolderPath=PORTAL_ROOT_OBJECT.CO_EMPLOYEE_SELF_SERVICE.HC_SSS_STUDENT_CENTER&IsFolder=false&gsmobile=1">
				<img src="$localdir$/assets/sis_my_logo.png" alt="SiS Logo">
				<span class="small">SiS</span>
			</a>
		</div>
	</div>

	<!-- Page content -->
	<div id="content">
		<!-- Disclaimer Message Is The Same Across All Pages -->
		<blockquote id="disclaimer">
			<h1>Disclaimer</h1>
			<ul>
				<li>If there are conflicts between the information on this page and corresponding information on the <a href="https://www.uml.edu/sciences/computer-science/">Miner School Website</a> or <a href="https://www.uml.edu/catalog/undergraduate/sciences/departments/computer-science/course-listing.aspx">University Course-Listing pages</a>, the information on those other pages takes precedence.
				</li>
				<li>Please contact <a href="mailto:Johannes_Weis@uml.edu">Prof. Johannes Weis</a> to request an update to any outdated content.
				</li>
				<li>Please direct any questions related to the undergraduate program to your academic advisor or reach out to <a href="mailto:ugcoord@cs.uml.edu">Dr. David Adams</a>, the Computer Science Undergraduate Coordinator.
				</li>
			</ul>
		</blockquote>

		<!-- Markdown Is Converted To HTML And Placed At This Tag -->
		$body$

		<!-- Copyright Message Is The Same Across All Pages -->
		<div id="copyright-msg">
			<hr>
			<span class="small" >Copyright &#169; 2025 by the Richard Miner School of Computer Science.  All rights reserved.  May be freely copied or excerpted for educational purposes with credit to the author.</span>
		</div>

	</div>
</body>
</html>
