:root {
	/* Font Weight/Size/Family */
	--ff: sans-serif;
	--font-logo: bold 2.0rem/1.4em var(--ff);

	/* Banner and Sidebar Sizes */
	--banner-height: 120px;
	--banner-margin: 40px;
}

html {
	font-size: 1.25vh;
}

body {
	margin-bottom: calc(var(--banner-height) + var(--banner-margin));
}

blockquote a {
	line-height: 3em;
}

#banner {
	justify-content: center;
	flex-wrap: wrap;
	min-height: 100%;


	backdrop-filter: none;

	& #banner-left {
		/*display: none;*/
		align-self: flex-start;
		min-width: 100%;
		max-height: fit-content;
		backdrop-filter: blur(50px);
	}

	& #banner-right {
		align-self: flex-end;
		justify-content: space-between;

		min-width: 100%;
		backdrop-filter: blur(50px);

		& .student-resource-icon {
			flex-grow: 1;
		}
	}
}

.flex-grid {
	gap: 30px;

	& blockquote {
		max-width: 100%;
		width: 100%;
	}
}